<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622564336039-2k0d30rhi03f24789vr3min1gq10v5ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622564336039-2k0d30rhi03f24789vr3min1gq10v5ch</string>
	<key>API_KEY</key>
	<string>AIzaSyD-0yZbcMML0cITvI-RVRt5alD2ilAvdAA</string>
	<key>GCM_SENDER_ID</key>
	<string>622564336039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobFinderApp</string>
	<key>PROJECT_ID</key>
	<string>jobshub-726c4</string>
	<key>STORAGE_BUCKET</key>
	<string>jobshub-726c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622564336039:ios:51fc14fecff4b968f61682</string>
</dict>
</plist>